<div class="container">
  <app-header> </app-header>

  <app-rates *ngFor="let item of currencys" [item]="item"></app-rates>
  <app-currency-form
    class="form"
    data-name="one"
    [value]="valueOne"
    currency="selectedOptionOne"
    (newInput)="handleI($event)"
    (newSelect)="handleS($event)"
  ></app-currency-form>
  <app-currency-form
    data-name="two"
    [value]="valueTwo"
    currency="selectedOptionTwo"
    (newInput)="handleI($event)"
    (newSelect)="handleS($event)"
  ></app-currency-form>
</div>
